{{- /*gotype:pbench/cmd/genddl.Schema*/ -}}
{{- if .TargetSchema }}
{{- if .TargetCatalog }}
{{- if .Iceberg }}
USE {{ .TargetCatalog }};
CREATE SCHEMA IF NOT EXISTS {{ .TargetSchema }}
WITH (
  location = '{{ .S3TargetLocation }}/'
);

USE {{ .TargetCatalog }}.{{ .TargetSchema }};
{{- else }}
CREATE SCHEMA IF NOT EXISTS {{ .TargetCatalog }}.{{ .TargetSchema }}
WITH (
  location = '{{ .S3TargetLocation }}/'
);

USE {{ .TargetCatalog }}.{{ .TargetSchema }};
{{- end }}
{{- else }}
{{- if .Iceberg }}
USE iceberg;
CREATE SCHEMA IF NOT EXISTS {{ .TargetSchema }}
WITH (
  location = '{{ .S3TargetLocation }}/'
);

USE iceberg.{{ .TargetSchema }};
{{- else }}
CREATE SCHEMA IF NOT EXISTS hive.{{ .TargetSchema }}
WITH (
  location = '{{ .S3TargetLocation }}/'
);

USE hive.{{ .TargetSchema }};
{{- end }}
{{- end }}

{{ range .Tables }}
CREATE TABLE IF NOT EXISTS {{ .Name }} (
{{- $first := true }}
{{- range .Columns }}
  {{- if $first }}
  {{- $first = false }}
  {{- else }},
  {{- end }}
  {{ .Name }} {{ .Type }}
{{- end }})
{{- if eq $.Engine "spark" }}
{{- if $.Iceberg }}
USING iceberg
{{- if .Partitioned }}
PARTITIONED BY ({{ .LastColumn.Name }})
{{- end }}
TBLPROPERTIES ('write.target-file-size-bytes' = 268435456, 'write.parquet.row-group-size-bytes' = 67108864)
LOCATION '{{ $.S3TargetLocation }}/{{ .Name }}';
{{- else }}
WITH (
  format = 'PARQUET',
  {{- if .Partitioned }}
  partitioned_by = array['{{ .LastColumn.Name }}'],
  external_location = '{{ $.S3TargetLocation }}/{{ .Name }}/'
  {{- else }}
  external_location = '{{ $.S3TargetLocation }}/{{ .Name }}/'
  {{- end }}
);
{{- end }}
{{- else }}
WITH (
  format = 'PARQUET'
  {{- if $.Iceberg }}
  {{- if .Partitioned }},
  partitioning = ARRAY['{{ .LastColumn.Name }}']
  {{- end }}
  {{- else }}
  {{- if .Partitioned }},
  partitioned_by = array['{{ .LastColumn.Name }}'],
  external_location = '{{ $.S3TargetLocation }}/{{ .Name }}/'
  {{- else }},
  external_location = '{{ $.S3TargetLocation }}/{{ .Name }}/'
  {{- end }}
  {{- end }}
);
{{- end }}
{{ end }}
{{- if not .Iceberg }}
{{ range .Tables }}
ANALYZE {{ .Name }};
{{- end }}
{{- end }}
{{- end }}
